<% content_for :page_title, @page.title %>

<% content_for :page_parents do %>
  <% if @page.parents.present? %>
    <% @page.parents.each do |v| %>
      <%= link_to v.name, v unless v.nil? %> /
    <% end %>
  <% end %>
<% end %>

<div>
  <%== @page.html %>
</div>

<% content_for :page_meta do %>
  <span class="metadata">
    version <%= link_to @page.gollum_page.version_short, @page.history_url %>
  </span>
<% end %>

<%
  attachments = @page.attachments
  children = @page.children
  if attachments.present? || children.present?
    content_for :page_related do
%>
  <% if attachments.count > 0 %>
    <div class="attachments">
      <div class="section-title">Attachments</div>
      <ul>
      <% attachments.each do |a| %>
        <li><%= link_to a.name, a %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <% if children.count > 0 %>
    <div class="children">
      <div class="section-title">Children</div>
      <ul>
      <% children.each do |p| %>
        <li><%= link_to p.name, p %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<%
    end
  end
%>

<% content_for :page_actions do %>
  <div class="btn-group">
    <%= link_to "Edit", edit_page_path(@page), {class: 'btn'} %>
  </div>
<% end %>
