<% content_for :page_title, @page.name %>

<% content_for :page_heading do %>
  <div class="parents">
  <% if @page.parents
      @page.parents.each do |v| %>
    <%= link_to v.name, v unless v.nil? %> /
  <%  end
    end %>
  </div>

  <h1 class="page-title"><%= @page.name %></h1>
<% end %>

<div>
  <%== @page.html %>
</div>

<% content_for :page_meta do %>
  <span class="metadata">
    version <%= link_to @page.gollum_page.version_short, @page.history_url %>
  </span>
<% end %>

<% content_for :page_related do %>
  <%
    attachements = @page.attachments
    if attachements.count > 0
  %>
  <div class="attachments">
    <div class="section-title">Attachments</div>
    <ul>
    <% attachements.each do |a| %>
      <li><%= link_to a.name, a %></li>
    <% end %>
    </ul>
  </div>
  <% end %>

  <div class="children">
  <%
    children = @page.children
    if children.count > 0
  %>
    <div class="section-title">Children</div>
    <ul>
    <% children.each do |p| %>
      <li><%= link_to p.name, p %></li>
    <% end %>
    </ul>
  <% end %>
  </div>
<% end %>

<% content_for :page_actions do %>
  <div class="btn-group">
    <%= link_to "Edit", edit_page_path(@page), {class: 'btn'} %>
  </div>
<% end %>
