<% content_for :nav do %>
  <ul class="tops">
    <% Rails.configuration.wiki.top_pages.each do |v| %>
      <li><%= link_to v.name, v %></li>
    <% end %>
  </ul>
  <ul class="find">
    <li><%= link_to 'changelog', log_path %></li>
    <li><%= link_to 'contents', pages_path %></li>
    <li>
      <%= render partial: 'wiki/search' %>
    </li>
  </ul>
<% end %>
<% content_for :content do %>
  <%= yield %>
<% end %>
<%= render template: "layouts/application" %>
